body{
    background-color: #000;
    margin: 0px;
}
.meme-container{
    margin: 30px;
    padding: 20px;
    background-color: #fff;
    text-align: center;
    font-family: monospace;
    font-size: 20px;
    border: 10px solid blue;
}
img{
    border: 3px solid red;
}